@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #faf3f7;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FE0A92;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #fe0a9067;
}

.bg-primary {
  background-color: #FE0A92;
}

.primary {
  color: #FE0A92;
}

.btn-primary{
  padding: 5px 15px;
  background-color: #FE0A92;
  border-radius: 10px;
  color: white;
  font-size: 14px;
  
}